@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@keyframes expand {
	from {
		transform: scale(0);
		opacity: 0;
	}
}

@mixin make-container-bounds($device-min-width, $max-container-width) {
	@media screen and (min-width: $device-min-width) {
		.container-fluid {
			max-width: $max-container-width;
		}
	}
}

@mixin make-round-font-awesome-btn($background-color, $text-color) {
	align-items: center;
	color: $text-color !important;
	background-color: $background-color !important;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	height: 2.25rem !important;
	width: 2.25rem !important;
}

$font-family-primary: "Roboto Condensed", sans-serif;
$font-family-secondary: "Sacramento", cursive;
$theme-color: #563d7c;
$theme-gray: #f5f5f5;
$theme-white: #fff;

.bg-primary {
  background-color: $theme-color !important;
}

.btn-primary {
	background-color: $theme-color !important;
	border: 1px solid $theme-color;
}

.text-primary {
  color: $theme-color !important;
}

#wrapper {
	background-color: $theme-gray;
	display: grid;
	grid-template-areas:
		"navbar navbar navbar"
		"projects-nav main-area key";

	grid-template-columns: 300px 1fr 300px;
	grid-template-rows: 60px 1fr;
	height: 100vh;
	width: 100vw;

	header {
		grid-area: navbar;
		@include make-container-bounds(1920px, 1680px);

		nav {
			background-color: $theme-color !important;
		}

		.navbar-brand {
			color: $theme-white;
			font-family: $font-family-primary;
			font-size: 2rem;
		}
	}
}

#projects-nav {
	color: $theme-color;
	grid-area: projects-nav;

	.btn-show-form {
		@include make-round-font-awesome-btn($theme-white, $theme-color);
	}

	.project {
		align-items: center;
		animation: expand 0.5s ease-in-out;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.btn-delete {
			@include make-round-font-awesome-btn($theme-gray, $theme-color);
		}
	}
}

#app-container {
	grid-area: main-area;

	.card {
		.card-body h2 {
			color: $theme-color;
			font-family: $font-family-secondary;
		}
	}
}

#key {
	color: $theme-color;
	grid-area: key;
}

#todos-list {
  .todo {
    animation: expand 0.5s ease-in-out;
  }
}