@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: #007ac1;
  color: #fff;
}

.display-1{
  font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Sacramento', cursive;
}